/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.core_services_wrapper{
    padding-top: 180px;
}

.core_services_wrap{
    background-color: rgba(0,0,0, 1);
    padding: 39px 0 150px 0;
}
.core_services_title{
    text-align: center;
}
.core_services_title h3{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg,#0085C3, #3DE2F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 35px 8px 35px;
    position: relative;
}
.core_services_title h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(45deg,#0085C3, #3DE2F4);
}
.core_services_title p{
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.8px;
    line-height: 1.5;
    margin: 15px auto 0;
    max-width: 700px;
}
.mobile_development{
    margin-top: 67px;
}
.cm_development_title h2{
    padding-left: 14px;
    color: rgba(255,255,255,1);
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
.cm_development_title h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: -webkit-linear-gradient(45deg,#3DE2F4, #0085C3);
}

.mobile_development_block{
    margin-top: 15px;
}
.mobile_development_sec{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -10px;
}
.mobile_development_conte, .mobile_development_img{
    width: 50%;
    padding: 10px;
}
.mobile_development_item{
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -10px;
}
.mobile_development_item li{
    padding: 10px;
    width: 33.33%;
}
.core_services_sec{
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(18,18,18, 1);
    border: 1px solid transparent;
    padding: 28px 20px 15px 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.core_services_sec:hover{
    border-color: #0085C3;
}
.core_services_sec p{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.core_services_sec span{
    display: inline-block;
    margin-top: 22px;
}
.mobile_development_wrap{
    margin-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.mobile_development_btn{
    width: 60%;
}
.mobile_development_btn_sec{
    width: 31.33%;
}
.mobile_development_btn_sec .mobile_development_item{
    width: 100%;
}
.mobile_development_btn p{
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0 0 0;
}
.mobile_development_btn_block a{
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    border-radius: 28px;
    border: 1px solid rgba(255,255,255, 1);
    padding: 16px 67px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mobile_development_btn_block a:hover{
    background-color: #fff;
    color: #000;
}

.web_development {
    margin-top: 77px;
    border-top: 1px solid rgba(99,99,102, 1);
    border-bottom: 1px solid rgba(99,99,102, 1);
    padding: 0 50px;
}
.web_development_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.web_development_img{
    width: 60%;
    padding: 0 40px;
}
.web_development_conte{
    width: 40%;
    padding: 0 40px;
}
.web_development_conte .mobile_development_conte{
    width: 100%;
}
.web_development_conte .mobile_development_item li {
    padding: 10px;
    width: 50%;
}
.web_development_conte .mobile_development_btn {
    width: 100%;
}
.cm_development_title_right{
    text-align: right;
}
.cm_development_title_right h2{
    margin-bottom: 49px;
    padding: 0 15px 0 0;
}
.cm_development_title_right h2::after{
    left: unset;
    right: 0;
}

.ui_ux_development{
    margin-top: 70px;
}
.ui_ux_development .mobile_development_conte{
    width: 35%;
}
.ui_ux_development .mobile_development_img{
    width: 63%;
}
.ui_ux_development  .mobile_development_sec{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ui_ux_development .mobile_development_item li {
    padding: 10px;
    width: 49%;
}
.ui_ux_development .mobile_development_btn {
    width: 100%;
}
.iso_destop_none{
    display: none;
}

@media (max-width: 1199px){
    .core_services_wrapper {
        padding-top: 110px;
    }

    .web_development_block{
        margin: 0 -15px;
    } 
    .web_development_img {
        width: 60%;
        padding: 0 15px;
    }
    .web_development_conte {
        width: 40%;
        padding: 0 15px;
    }
    .web_development {
        padding: 0;
    }
}

@media (max-width: 991px){
    .core_services_wrapper {
        padding-top: 80px;
    }
    .core_services_wrap {
        padding: 30px 0 80px 0;
    }
    .mobile_development {
        margin-top: 20px;
    }
    .web_development {
        margin-top: 35px;
        padding: 20px 0;
    }
    .ui_ux_development {
        margin-top: 35px;
    }
    .mobile_development_sec{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: -15px;
    }
    .mobile_development_block {
        margin-top: 35px;
    }
    .mobile_development_conte, .mobile_development_img{
        width: 100%;
        padding: 15px;
    }
    .core_services_sec {
        display: block;
        min-height: 205px;
    }
    .web_development_block{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: -15px;
    }
    .web_development_img, .web_development_conte{
        width: 100%;
        padding: 15px;
    }
    .web_development_conte{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    .cm_development_title_right h2 {
        margin-bottom: 10px;
    }

    .ui_ux_development .mobile_development_conte {
        width: 100%;
    }
    .ui_ux_development .mobile_development_img {
        width: 100%;
    }
    .ui_ux_development .mobile_development_sec{
        margin-top: 20px;
    }
    .cm_development_title h2 {
        font-size: 26px;
    }
}

@media (max-width: 767px){
    .core_services_wrapper {
        padding-top: 50px;
    }
    .core_services_wrap {
        padding: 30px 0 50px 0;
    }
}

@media (max-width: 575px){
    .core_services_wrapper {
        padding-top: 40px;
    }
    .cm_development_title h2 {
        font-size: 22px;
    }
    .mobile_development_item{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .mobile_development_item li{
        width: 50%;
    }
    .iso_mobile_none{
        display: none;
    }
    .iso_destop_none{
        display: block;
    }
    .mobile_development_btn_sec{
        width: 100%;
    }
    .mobile_development_btn {
        width: 100%;
    }
    .web_development_conte .mobile_development_conte{
        padding: 0;
    }
    .ui_ux_development .mobile_development_item li {
        width: 100%;
    }
    .mobile_development_btn_block a {
        margin-top: 20px;
        padding: 12px 50px;
    }
}
@media (max-width: 367px){
    .cm_development_title h2 {
        font-size: 20px;
    }
}