


.libraries_wrapper{
    padding-top: 180px;
}
.libraries_wrap{
    padding: 100px 0;
    background-image: url(../../../Assets/Images/MobileAppDevelopment/libraries_bg.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.libraries_title h3{
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 12px;
    position: relative;
    display: inline-block;
}
.libraries_title h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 2px;
    background: -webkit-linear-gradient(45deg,#0085C3, #3DE2F4);
}

.libraries_img_block{
    margin-top: 40px;
}
.libraries_img_block ul{
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -15px;
}
.libraries_img_block ul li{
    padding: 0 15px;
    width: 25%;
}
.libraries_img_sec {
    display: inline-block;
    width: 100%;
    padding: 30px 30px 25px 20px;
    border-radius: 10px;
    text-decoration: none;
    min-height: 245px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
.libraries_img_sec1{
    background-image: url(../../../Assets/Images/MobileAppDevelopment/libraries_bg_img1.webp);
}
.libraries_img_sec2{
    background-image: url(../../../Assets/Images/MobileAppDevelopment/libraries_bg_img2.webp);
}
.libraries_img_sec3{
    background-image: url(../../../Assets/Images/MobileAppDevelopment/libraries_bg_img3.webp);
}
.libraries_img_sec4{
    background-image: url(../../../Assets/Images/MobileAppDevelopment/libraries_bg_img4.webp);
}

.libraries_img{
    text-align: right;
}
.libraries_conte {
    margin-top: 37px;
}
.libraries_conte p{
    color: rgba(255,255,255,1);
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}
.libraries_conte span{
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin: 5px 0 0 0;
}
.libraries_btn a{
    display: inline-block;
    border-radius: 28px;
    border: 1px solid rgba(255,255,255, 1);
    -webkit-box-shadow: 5px 5px 12px rgba(61,225,243, 0.21987), -5px -5px 12px rgba(1,135,196, 0.079819);
            box-shadow: 5px 5px 12px rgba(61,225,243, 0.21987), -5px -5px 12px rgba(1,135,196, 0.079819);
    background: transparent;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 45px;
    text-decoration: none;
    padding: 16px 45px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.libraries_btn a:hover{
    background: #fff;
    color: #000;
}

@media (max-width: 1199px){
   .libraries_wrapper{
        padding-top: 110px;
   }
   .libraries_conte p {
        font-size: 22px;
    }
    .libraries_title h3 {
        font-size: 36px;
    }
    .libraries_wrap {
        padding: 60px 0;
    }
}

@media (max-width: 991px){
    .libraries_wrapper{
        padding-top: 70px;
   }
   .libraries_wrap {
        padding: 40px 0;
    }
    .libraries_title h3 {
        font-size: 32px;
    }
    .libraries_img_block {
        margin-top: 30px;
    }
    .libraries_img_block ul{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: -15px;
    }
    .libraries_img_block ul li {
        padding: 15px;
        width: 50%;
    }
}

@media (max-width: 767px){
    .libraries_wrapper{
        padding-top: 60px;
   }
}

@media (max-width: 575px){
    .libraries_wrapper{
        padding-top: 40px;
   }
   .libraries_title h3 {
        font-size: 28px;
    }
    .libraries_img_block {
        margin-top: 20px;
    }
    .libraries_img_block ul li {
        width: 100%;
    }
    .libraries_img_sec{
        min-height: 215px;
    }
}
@media (max-width: 450px){
   
}
@media (max-width: 367px){
   
}