/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.solutions_wrapper{
    padding-top: 180px;
}
.solutions_wrap{
    background-color: rgba(0,0,0, 1);
    padding: 94px 0 90px 0;
}
.solutions_title h2{
    color: rgba(255,255,255,1);
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2.5px;
}
.solutions_title p{
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 0 0;
    line-height: 1.6;
}
.solutions_sec {
    margin-top: 32px;
    padding: 0 70px 0 15px;
}
.solutions_tab_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -20px;
}
.solutions_tabs{
    width: 28%;
    padding: 0 20px;
}
.solutions_tab_conte{
    width: 72%;
    padding: 0 20px;
}

.solutions_item .nav {
    background-color: rgba(28,28,30, 1);
    padding: 0 15px;
    flex-direction: column;
    border: 0;
}
.solutions_item button{
    color: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 600;
    border: 2px solid transparent !important;
    padding: 25px 27px;
    text-align: left;
    width: 100%;
    position: relative;
} 
.solutions_item button::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: rgba(72,72,74, 1);
}
.solutions_item .nav-item:last-child button::after{
    display: none;
}
.solutions_item button:hover:after, .solutions_item button.active::after{
    opacity: 0;
}

.solutions_item .nav-tabs .nav-link:focus, .solutions_item .nav-tabs .nav-link:hover{
    border: 2px solid #0085C3 !important;
    color: #fff;
    background-color: rgba(0,0,0, 1);
    border-radius: 10px;
}
.solutions_item .nav-tabs .nav-item.show .nav-link, .solutions_item .nav-tabs .nav-link.active{
    border-radius: 10px;
    border: 2px solid #0085C3 !important;
    background-color: rgba(0,0,0, 1);
    padding: 24px 28px;
    color: #fff;
}
.solutions_item .nav-item{
    margin: 0 -30px 0 -30px;
}


.taxi_app_sec{
    background-image: url(../../../Assets/Images/MobileAppDevelopment/taxi_background.webp);
    width: 100%;
    padding: 40px 50px 128px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.taxi_app_sec h3{
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-weight: 700;
}
.taxi_app_sec p{
    margin: 47px 0 0 0;
    color: rgba(255,255,255,1);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.taxi_app_btn a{
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 53px;
    border-radius: 28px;
    border: 1px solid rgba(255,255,255, 1);
    padding: 11px 35px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.taxi_app_btn a:hover{
    background: #fff;
    color: #000;
}


.solutions_tab_conte .slick-next{
    background: url(../../../Assets/Images/MobileAppDevelopment/ic_arrow_right.webp);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -70px;
}
.solutions_tab_conte .slick-next:hover, .solutions_tab_conte .slick-next:focus{
    background: url(../../../Assets/Images/MobileAppDevelopment/ic_arrow_right.webp);
    background-size: cover;
}
.solutions_tab_conte .slick-prev::before, .solutions_tab_conte  .slick-next:before{
    display: none;
}
.solutions_tab_conte .slick-prev{
    background: url(../../../Assets/Images/MobileAppDevelopment/ic_arrow_left.webp);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none !important;
    z-index: 1;
}
.solutions_tab_conte .slick-prev:hover, .solutions_tab_conte .slick-prev:focus{
    background: url(../../../Assets/Images/MobileAppDevelopment/ic_arrow_left.webp);
    background-size: cover;
}

.mobile_technologies .slick-slider{
    width: 100%;
}
.solutions_tab_conte .tab_pane {
    display: none;
}
.solutions_tab_conte .tab_pane.tabs_active{
    display: block;
    -webkit-animation: solutions_tab .5s ease-in-out;
    animation: solutions_tab .5s ease-in-out;
}


@-webkit-keyframes solutions_tab{
    0% {
        display: none;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    
    1% {
        display: block;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    30% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  }
  @keyframes solutions_tab{
    0% {
        display: none;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    
    1% {
        display: block;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    30% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  }

@media (max-width: 1199px){
   .solutions_wrapper{
        padding-top: 110px;
   }

   .solutions_wrap {
        padding: 60px 0;
    }
    .solutions_title h2 {
        font-size: 40px;
    }
    .solutions_title p {
        margin: 10px 0 0 0;
    }
    .taxi_app_sec p br{
        display: none;
    }
    .solutions_item .nav-pills .nav-link {
        font-size: 18px;
    }
}

@media (max-width: 991px){
    .solutions_wrapper{
        padding-top: 70px;
   }
   .solutions_wrap {
        padding: 40px 0;
    }
    .solutions_title h2 {
        font-size: 35px;
    }
    .solutions_tab_block{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: -15px;
    }
    .solutions_tabs, .solutions_tab_conte{
        width: 100%;
        padding: 15px;
    }
    .solutions_item{
        overflow-x: auto;
    }
    .solutions_item .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
                flex-direction: row !important;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 5px 0;
    }
    .taxi_app_sec h3 {
        font-size: 35px;
    }
    .mobile_technologies {
        margin-top: 17px;
    }
    .solutions_item .nav-item {
        margin: 0 10px;
    }
    .solutions_item button {
        padding: 15px 7px;
    }
    .solutions_item .nav-tabs .nav-item.show .nav-link, .solutions_item .nav-tabs .nav-link.active {
        padding: 15px 7px;
    }
}

@media (max-width: 767px){
    .solutions_wrapper{
        padding-top: 60px;
   }
   .solutions_title h2 {
        font-size: 30px;
    }
    .solutions_item .nav {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content
    }
    .taxi_app_sec {
        padding: 20px 15px;
    }
    .taxi_app_sec h3 {
        font-size: 27px;
    }
    .taxi_app_sec p {
        margin: 30px 0 0 0;
        font-size: 16px;
    }
    .solutions_sec {
        padding: 0 60px 0 15px;
    }
    .solutions_tab_conte .slick-next, 
    .solutions_tab_conte .slick-next:hover, 
    .solutions_tab_conte .slick-next:focus{
        width: 35px;
        right: -55px;
        height: 35px;
    }
}

@media (max-width: 575px){
    .solutions_wrapper{
        padding-top: 40px;
   }
   .solutions_title h2 {
        font-size: 26px;
    }
    .solutions_sec {
        padding: 0;
    }
    
    .solutions_item .nav {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .solutions_wrap {
        padding: 40px 0 90px 0;
    }
    .solutions_tab_conte .slick-next, .solutions_tab_conte .slick-next:hover, .solutions_tab_conte .slick-next:focus {
        width: 35px;
        right: 40%;
        height: 35px;
        top: unset;
        position: absolute;
        bottom: -80px;
    }
    .solutions_tab_conte .slick-prev, .solutions_tab_conte .slick-prev:hover, .solutions_tab_conte .slick-prev:focus{
        display: block !important;
        width: 35px;
        left: 40%;
        height: 35px;
        top: unset;
        position: absolute;
        bottom: -80px;
    } 
    

}
@media (max-width: 450px){
    .solutions_tab_conte .slick-next, .solutions_tab_conte .slick-next:hover, .solutions_tab_conte .slick-next:focus{
        right: 37%;
    }
    .solutions_tab_conte .slick-prev, .solutions_tab_conte .slick-prev:hover, .solutions_tab_conte .slick-prev:focus{
        left: 37%;
    }
}
@media (max-width: 367px){
   
}