
.ourwork_wrapper{
    padding-top: 180px;
}

.ourwork_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ourwork_title_block{
    width: 80%;
}

.ourwork_title h3{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    background: -webkit-linear-gradient(45deg,#0085C3, #3DE2F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding: 10px 0 5px 20px;
}
.ourwork_title h3::after{
    background: -webkit-linear-gradient(-45deg,#0085c3,#3de2f4);
    top: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 2px;
}
.ourwork_title p{
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 20px 0;
}  
.ourwork_title_btn a{
    display: inline-block;
    border-radius: 28px;
    box-shadow: 5px 5px 12px rgba(61,225,243, 0.21987), -5px -5px 12px rgba(1,135,196, 0.079819);
    background-color: rgba(0,0,0, 1);
    border: 1px solid transparent;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 16px 50px;
    transition: all 0.3s ease;
}
.ourwork_title_btn a:hover{
    background: transparent;
    border-color: #000;
    color: #000;
}

.ourwork_conte{
    margin-top: 30px;
}
.ourwork_sec{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}
.ourwork_block{
    width: 50%;
    padding: 15px;
}
.ourwork_bg{
    border-radius: 15px;
    position: relative;
    padding: 3px;
}
.ourwork_bg::after{
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: -webkit-linear-gradient(-45deg,#0085C3, #3DE2F4);
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.ourwork_bg:hover::after{
    opacity: 1;
    visibility: visible;
}
.ourwork_inner_block{
    border-radius: 13px;
    background: #fff;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.ourwork_inner_block h3{
    color: rgba(0,0,0,1);
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}
.ourwork_inner_block p{
    color: rgba(142,142,147,1);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin: 12px 0 0 0;
}
.ourwork_img {
    min-height: 260px;
    display: flex;
    align-items: flex-end;
}




@media (max-width: 1199px){
    .ourwork_wrapper {
        padding-top: 110px;
    }
    .ourwork_title_block {
        width: 77%;
    }
}

@media (max-width: 991px){
    .ourwork_wrapper {
        padding-top: 70px;
    }

    .ourwork_title_block {
        width: 71%;
    }
    .ourwork_title p {
        font-size: 17px;
    }
    .ourwork_inner_block h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .ourwork_conte {
        margin-top: 10px;
    }


}

@media (max-width: 767px){
    .ourwork_wrapper {
        padding-top: 50px;
    }
    .ourwork_title{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .ourwork_block{
        width: 100%;
    }
    .ourwork_img {
        min-height: 100%;
        display: flex;
        align-items: flex-end;
    }
    .ourwork_title_block {
        width: 100%;
    }
}

@media (max-width: 575px){
    
}
@media (max-width: 367px){

}