/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.solution_work_wrapper{
    padding-top: 180px;
}
.solution_work_wrap{
    background-color: rgba(0,0,0, 1);
    padding: 50px 0 70px 0;
}
.solution_work_title h2{
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
}
.solution_work_title p{
    margin-top: 15px;
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 00;
    line-height: 1.6;
    margin-bottom: 82px;
}

.solution_work_tab_conte .tab_pane {
    display: none;
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    transition: opacity .15s linear;
}
.solution_work_tab_conte .tab_pane.tabs_active{
    display: block;
    opacity: 1;
    margin-top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}


.solution_work_sec{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -15px;
}
.solution_work_nav{
    padding: 0 15px;
    width: 25%;
}
.solution_work_tab_conte {
    width: 65%;
    padding: 0 15px;
}
.solution_work_nav_item .nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
}
.solution_work_nav_item .nav .nav-item{
    border-radius: 15px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(225, 0, 255, 1)), to(rgba(127, 0, 255, 1)));
    background-image: -o-linear-gradient(right, rgba(225, 0, 255, 1) 0%, rgba(127, 0, 255, 1) 100%);
    background-image: linear-gradient(270deg, rgba(225, 0, 255, 1) 0%, rgba(127, 0, 255, 1) 100%);
    padding: 2px;
}
.solution_work_nav_item .nav .nav-item + .nav-item{
    margin-top: 40px;
} 
.solution_work_nav_item .nav .nav-item button{
    border-radius: 15px;
    background-color: rgba(0,0,0, 1);
    color: rgba(255,255,255,1);
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    min-height: 130px;
}
.solution_work_nav_item .nav .nav-item button.active, .solution_work_nav_item .nav .nav-item button:hover{
    background: transparent;
    border: 2px solid transparent;
}
.solution_work_btn {
    text-align: right;
}
.solution_work_btn a{
    display: inline-block;
    border-radius: 28px;
    border: 1px solid rgba(255,255,255, 1);
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 16px 25px;
    margin-top: 140px;
}
.solution_work_btn a span{
    display: inline-block;
    margin-left: 12px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.solution_work_btn a:hover span{
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}
@media (max-width: 1199px){
    .solution_work_wrapper {
        padding-top: 110px;
    }
    .solution_work_title h2 {
        font-size: 35px;
    }
    .solution_work_nav {
        width: 27%;
    }
}

@media (max-width: 991px){
    .solution_work_wrapper {
        padding-top: 70px;
    }
    .solution_work_title h2 {
        font-size: 32px;
    }
    .solution_work_title p {
        margin-bottom: 50px;
    }
    .solution_work_nav {
        width: 35%;
    }
    .solution_work_nav_item .nav .nav-item button {
        font-size: 20px;
        min-height: 100px;
    }
}

@media (max-width: 767px){
    .solution_work_wrapper {
        padding-top: 50px;
    }
    .solution_work_wrap {
        padding: 30px 0 50px 0;
    }
    .solution_work_title h2 {
        font-size: 26px;
        line-height: 1.4;
    }
    .solution_work_title p {
        margin-bottom: 40px;
    }
    .solution_work_sec{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: -15px;
    }
    .solution_work_nav, .solution_work_tab_conte {
        width: 100%;
        padding: 15px;
    }
    .solution_work_nav_item{
        overflow: auto;
    }
    .solution_work_nav_item .nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .solution_work_nav_item .nav .nav-item{
        margin-left: 25px;
    }
    .solution_work_nav_item .nav .nav-item:first-child{
        margin-left: 0;
    }
    .solution_work_nav_item .nav .nav-item + .nav-item{
        margin-top: 0;
    }
    .solution_work_nav_item .nav .nav-item button {
        font-size: 18px;
        min-height: 100%;
        padding: 10px 30px;
    }
    .solution_work_btn a {
        margin-top: 40px;
    }
}

@media (max-width: 575px){
    .solution_work_wrapper {
        padding-top: 40px;
    }
    .solution_work_title h2 {
        font-size: 21px;
    }
    .solution_work_btn a {
        padding: 12px 23px;
        margin-top: 30px;
    }
}
@media (max-width: 367px){
    
}