/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.your_project_wrapper{
    padding-top: 180px;
}
.your_project_wrap{
    border-radius: 10px;
    background-image: -o-linear-gradient(333.435deg, rgba(0, 133, 195, 1) 0%, rgba(61, 226, 244, 1) 100%);
    background-image: linear-gradient(116.56505117707799deg, rgba(0, 133, 195, 1) 0%, rgba(61, 226, 244, 1) 100%);
    padding: 52px 94px 83px 94px;
}
.your_project_wrap h2{
    color: rgba(255,255,255,1);
    font-size: 50px;
    font-weight: 600;
}
.your_project_wrap p{
    color: rgba(255,255,255,1);
    font-size: 22px;
    font-weight: 400;
    margin: 14px 0 0 0;
}
.your_project_btn a{
    display: inline-block;
    border-radius: 28px;
    border: 1px solid transparent;
    -webkit-box-shadow: 5px 5px 12px rgba(61,225,243, 0.21987), -5px -5px 12px rgba(1,135,196, 0.079819);
            box-shadow: 5px 5px 12px rgba(61,225,243, 0.21987), -5px -5px 12px rgba(1,135,196, 0.079819);
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 16px 35px;
    margin-top: 30px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #000;
}
.your_project_btn a:hover{
    background: #fff;
    border-color: #000;
    color: #000;
}

@media (max-width: 1199px){
   .your_project_wrapper{
        padding-top: 110px;
   }
   .your_project_wrap {
        padding: 32px 64px 53px 74px;
    }
    .your_project_wrap h2 {
        font-size: 46px;
    }
    .your_project_wrap p {
        font-size: 20px;
    }
    .your_project_btn a{
        margin-top: 25px;
    }
}

@media (max-width: 991px){
    .your_project_wrapper{
        padding-top: 70px;
   }
   .your_project_wrap {
        padding: 25px 45px 35px 55px;
    }
    .your_project_wrap h2 {
        font-size: 38px;
    }
    .your_project_wrap p {
        font-size: 18px;
    }
}

@media (max-width: 767px){
    .your_project_wrapper{
        padding-top: 60px;
   }
   .your_project_wrap{
        padding: 20px;
    }
    .your_project_wrap h2 {
        font-size: 28px;
    }
    .your_project_wrap p {
        font-size: 18px;
        margin: 8px 0 0 0;
    }
    .your_project_btn a {
        font-size: 16px;
        padding: 10px 26px;
        margin-top: 16px;
    }
}

@media (max-width: 575px){
    .your_project_wrapper{
        padding-top: 40px;
   }
}
@media (max-width: 450px){
   
}
@media (max-width: 367px){
    .your_project_wrap h2 {
        font-size: 20px;
    }
}